APP_NAME="KEKE API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://keke.live
FRONTEND_URL=https://keke.live
LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=mariadb
DB_HOST=database
DB_PORT=3306
DB_DATABASE=kekeweb
DB_USERNAME=kekeweb
DB_PASSWORD=
MARIADB_DATABASE=kekeweb
MARIADB_USER=kekeweb
MARIADB_PASSWORD=
MARIADB_ROOT_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=database
CACHE_STORE=database

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=https://keke.live/auth/discord/callback

MINECRAFT_STATS_DB_HOST=
MINECRAFT_STATS_DB_PORT=3306
MINECRAFT_STATS_DB_DATABASE=
MINECRAFT_STATS_DB_USERNAME=
MINECRAFT_STATS_DB_PASSWORD=

MINECRAFT_MATCHES_DB_HOST=
MINECRAFT_MATCHES_DB_PORT=3306
MINECRAFT_MATCHES_DB_DATABASE=
MINECRAFT_MATCHES_DB_USERNAME=
MINECRAFT_MATCHES_DB_PASSWORD=

RANKED_PRIMARY_RATING_KEY=ranked_5v5_ctw
MATCH_SERVER_1_TOKEN=
MATCH_SERVER_2_TOKEN=
MATCH_SERVER_3_TOKEN=
ACME_EMAIL=admin@keke.live
